.button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  margin: 20px auto;
}

.btn {
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  margin: 1px 5px;
  transition: background 0.6s;
  
}

/* Unique colors for each button */
.Developer{
  background-color: aliceblue;
}
.pool-btn {
  background-color: #078fa7d8;
  
}

.Buy-btn {
  background-color: #ca3fec;
  
}

.visit-btn {
  background-color: #1eb37ce7;
}

.Dps-btn {
  background-color: #ff0066;
}

/* Hover effect */
.btn:hover {
  opacity: 0.50;
}

/* Responsive button styles */

/* For screens <= 768px */
@media screen and (max-width: 768px) {
  .button-container {
    gap: 8px;
    margin: 10px auto;
    padding: 0 5px;
  }

  .btn {
    font-size: 0.7rem;
    padding: 6px 6px;
    margin: 4px 3px;
    width: auto;
  }
}

/* For screens <= 400px */
@media screen and (max-width: 400px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 90%;
    font-size: 0.80rem;
    padding: 6px 7px;
    margin: 5px 0;
  }
}
